@{
    ViewBag.Title = "Index";
}

@section pageLevelcss{
    <link href="../assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css" rel="stylesheet" type="text/css" />
}

@section pageLevelcssStyle{
    <link href="../assets/pages/css/profile.min.css" rel="stylesheet" type="text/css" />
}


@section AngularLeveljs{
    <script src="~/ViewController/Employee/EmployeeDetailController.js"></script>
}


<div class="row" ng-app="OOPSApp" ng-controller="personDetailCtrl as vm">
    <div class="col-md-12">
        <!-- BEGIN PROFILE SIDEBAR -->
        <div class="profile-sidebar">
            <div class="profile-sidebar">
                <!-- PORTLET MAIN -->
                <div class="portlet light profile-sidebar-portlet ">
                    <!-- SIDEBAR USERPIC -->
                    <div class="profile-userpic">
                        <img src="../assets/pages/media/profile/profile_user.jpg" class="img-responsive" alt="">
                    </div>
                    <!-- END SIDEBAR USERPIC -->
                    <!-- SIDEBAR USER TITLE -->
                    <div class="profile-usertitle">
                        <div class="profile-usertitle-name"> {{vm.employeeDetail.Name}} {{vm.employeeDetail.Surname}} </div>
                        <div class="profile-usertitle-job"> Meslek </div>
                    </div>
                    <div class="portlet light ">
                        <!-- STAT -->
                        <!-- END STAT -->
                        <div>
                            <div class="portlet-body">
                                <div class="table-responsive">
                                    <table class="table ">
                                        <thead>
                                            <tr>
                                                <th scope="col"> Şube</th>
                                                <th scope="col"> Departman </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td> Alsancak</td>
                                                <td> Bilişim </td>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="table-responsive">
                                    <table class="table ">
                                        <thead>
                                            <tr>
                                                <th scope="col"> Ünvan</th>
                                                <th scope="col"> Şirket</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td> Yazılımcı </td>
                                                <td> Bilge Adam</td>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col"> E-Posta (İş)</th>
                                                <th scope="col"> İş Telefonu </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td> Ahmet@Taş </td>
                                                <td> 0555 444 33 22  </td>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- END SIDEBAR USER TITLE -->
                    <!-- SIDEBAR BUTTONS -->
                    <!-- END SIDEBAR BUTTONS -->
                    <!-- SIDEBAR MENU -->
                    <!-- END MENU -->
                </div>
                <!-- END PORTLET MAIN -->
                <!-- PORTLET MAIN -->
                <!-- END PORTLET MAIN -->
            </div>
            <!-- END PORTLET MAIN -->
            <!-- PORTLET MAIN -->
            <!-- END PORTLET MAIN -->
        </div>
        <!-- END BEGIN PROFILE SIDEBAR -->
        <!-- BEGIN PROFILE CONTENT -->
        <div class="profile-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light ">
                        <div class="portlet-title tabbable-line">
                            <div class="caption caption-md">
                                <i class="icon-globe theme-font hide"></i>
                                <span class="caption-subject font-blue-madison bold uppercase">Profile Account</span>
                            </div>
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#tab_1" data-toggle="tab">Genel</a>
                                </li>
                                <li>
                                    <a href="#tab_2" data-toggle="tab">Kariyer</a>
                                </li>
                                <li>
                                    <a href="#tab_3" data-toggle="tab">Kişisel Bilgiler</a>
                                </li>
                                <li>
                                    <a href="#tab_4" data-toggle="tab">Diğer Bilgiler</a>
                                </li>
                                <li>
                                    <a href="#tab_5" data-toggle="tab">İzin</a>
                                </li>
                                <li>
                                    <a href="#tab_6" data-toggle="tab">Ödemeler</a>
                                </li>

                                <li class="dropdown pull-right">
                                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                                        Diğer Bilgiler
                                        <i class="fa fa-angle-down"></i>
                                    </a>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li>
                                            <a href="#tab_1_1" tabindex="-1" data-toggle="tab"> Zimmetler </a>
                                        </li>
                                        <li>
                                            <a href="#tab_1_2" tabindex="-1" data-toggle="tab"> Eğitimler </a>
                                        </li>
                                        <li>
                                            <a href="#tab_1_3" tabindex="-1" data-toggle="tab"> Dosyalar </a>
                                        </li>
                                        <li>
                                            <a href="#tab_1_4" tabindex="-1" data-toggle="tab"> Vize Belgesi Talepleri </a>
                                        </li>
                                    </ul>
                                </li>

                            </ul>
                        </div>
                        <div class="portlet-body">
                            <div class="tab-content">
                                <!-- BAŞ GENEL INFO TAB -->
                                <div class="tab-pane active" id="tab_1">
                                    <form action="#" class="horizontal-form">
                                        <div class="form-body">


                                            <!--Genel Bilgiler-->
                                            <h3 class="form-section">Genel Bilgiler</h3>
                                            <div class="row">

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label">Ad</label>
                                                        <input type="text" ng-model="vm.employeeDetail.Name" class="form-control">
                                                    </div>
                                                </div>
                                                <!--/span-->
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label">Soyad</label>
                                                        <input type="text" ng-model="vm.employeeDetail.Surname" class="form-control">
                                                    </div>
                                                </div>
                                                <!--/span-->
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label">E-Posta (İş)</label>
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </div>
                                                <!--/span-->
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label">E-Posta (Kişisel)</label>
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </div>
                                                <!--/span-->
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label">Telefon (İş)</label>
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </div>
                                                <!--/span-->
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label">Telefon (Kişisel)</label>
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </div>
                                                <!--/span-->
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label">İşe Başlama Tarihi</label>
                                                        <input class="form-control form-control-inline date-picker" size="16" type="text" value="" />
                                                    </div>
                                                </div>
                                                <!--/span-->
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label">Erişim Türü</label>
                                                        <select class="form-control">
                                                            <option value="" ng-repeat="accessType in vm.accessTypeList">{{accessType.AccessTypeName}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label">Sözleşme Türü</label>
                                                        <select class="form-control">
                                                            <option value="">Süresiz</option>
                                                            <option value="">Süreli</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label">Sözleşme Bitiş Tarihi</label>
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </div>
                                                <!--/span-->
                                            </div>
                                            <!--/row-üstüne yaz-->

                                        </div>
                                        <div class="margiv-top-10">
                                            <a href="javascript:;" class="btn green btn-circle"> Kaydet </a>
                                            <a href="javascript:;" class="btn default btn-circle"> İptal </a>
                                        </div>
                                    </form>
                                </div>
                                <!-- SON GENEL INFO TAB -->
                                <!-- BAŞ KARIYER INFO TAB -->
                                <div class="tab-pane" id="tab_2">
                                    <div action="#" class="horizontal-form">
                                        <div class="portlet light ">
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <span class="caption-subject font-blue-madison bold">
                                                        <i class="fa fa-user"></i>
                                                        Pozisyon
                                                    </span>
                                                </div>
                                                <div class="actions">
                                                    <div class="btn-group btn-group-devided" data-toggle="buttons">
                                                        <label class="btn sbold green btn-outline btn-circle btn-sm">
                                                            <input type="radio" name="options" class="toggle">Pozisyon Ekle
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="portlet-body">
                                                <div class="table-scrollable">
                                                    <table class="table table-hover table-light">
                                                        <thead>
                                                            <tr>
                                                                <th> Başlangıç </th>
                                                                <th> Bitiş </th>
                                                                <th> Çalışma Şekli </th>
                                                                <th> Şirket </th>
                                                                <th> Şube </th>
                                                                <th> Departman </th>
                                                                <th> Unvan </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td> 06/03/2020 </td>
                                                                <td> 06/03/2022 </td>
                                                                <td> Tam Zamanlı </td>
                                                                <td> Bilge Adam </td>
                                                                <td> İzmir </td>
                                                                <td> Eğitim </td>
                                                                <td> Eğitmen </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div action="#" class="horizontal-form">
                                        <div class="portlet light ">
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <span class="caption-subject font-blue-madison bold">
                                                        <i class="fa fa-credit-card"></i>
                                                        Maaş
                                                    </span>
                                                </div>
                                                <div class="actions">
                                                    <div class="btn-group btn-group-devided" data-toggle="buttons">
                                                        <label class="btn sbold green btn-outline btn-circle btn-sm">
                                                            <input type="radio" name="options" class="toggle">Maaş Ekle
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="portlet-body">
                                                <div class="table-scrollable">
                                                    <table class="table table-hover table-light">
                                                        <thead>
                                                            <tr>
                                                                <th> Geçerlilik Başlangıç Tarihi </th>
                                                                <th> Tutar </th>
                                                                <th> Ödeme Düzeni </th>
                                                                <th> Ek Ödemeler </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td> 06/03/2020 </td>
                                                                <td> 2.500.00 <i class="fa fa-try" /> </td>
                                                                <td> Bürüt </td>
                                                                <td> - </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- SON KARIYER INFO TAB -->
                                <!-- BAŞ KISISEL BILGILER INFO TAB -->
                                <div class="tab-pane" id="tab_3">
                                    <form action="#" class="horizontal-form">
                                        <div class="form-body">
                                            <h3 class="form-section">Kişisel Bilgiler</h3>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label">Doğum Tarihi</label>
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </div>
                                                <!--/span-->
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label">Kimlik Numarası</label>
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </div>
                                                <!--/span-->
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label">Medeni Hal</label>
                                                        <select class="form-control">
                                                            <option value="">Bekar</option>
                                                            <option value="">Evli</option>
                                                            <option value="">Boşanmış</option>
                                                            <option value="">Belirtilmemiş</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label">Cinsiyet</label>
                                                        <select class="form-control">
                                                            <option value="">Kadın</option>
                                                            <option value="">Erkek</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label">Engel Derecesi</label>
                                                        <select class="form-control">
                                                            <option value="">Yok</option>
                                                            <option value="">1. Derece</option>
                                                            <option value="">2. Derece</option>
                                                            <option value="">3. Derece</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label">Uyruğu</label>
                                                        <select class="form-control">
                                                            <option value="">Türkiye</option>
                                                            <option value="">ABD</option>
                                                            <option value="">Almanya</option>
                                                            <option value="">İngiltere</option>
                                                            <option value="">İtalya</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label">Çocuk Sayısı</label>
                                                        <select class="form-control">
                                                            <option value="">0</option>
                                                            <option value="">1</option>
                                                            <option value="">2</option>
                                                            <option value="">3</option>
                                                            <option value="">4</option>
                                                            <option value="">5</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label">Kan Grubu</label>
                                                        <select class="form-control">
                                                            <option value="">0 -</option>
                                                            <option value="">0 +</option>
                                                            <option value="">A -</option>
                                                            <option value="">A +</option>
                                                            <option value="">B -</option>
                                                            <option value="">B +</option>
                                                            <option value="">AB -</option>
                                                            <option value="">AB +</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label">Eğitim Durumu</label>
                                                        <select class="form-control">
                                                            <option value="">Mezun</option>
                                                            <option value="">Öğrenci</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label">Tamamlanan En Yüksek Eğitim Seviyesi</label>
                                                        <select class="form-control">
                                                            <option value="">İlkokul</option>
                                                            <option value="">Ortaokul</option>
                                                            <option value="">Lise</option>
                                                            <option value="">Önlisans</option>
                                                            <option value="">Lisans</option>
                                                            <option value="">Yüksek Lisans</option>
                                                            <option value="">Doktora</option>
                                                            <option value="">Yok</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label">Son Tamamlanan Eğitim Kurumu</label>
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </div>
                                                <!--/span-->
                                            </div>
                                            <div class="margiv-top-10">
                                                <a href="javascript:;" class="btn green btn-circle"> Kaydet </a>
                                                <a href="javascript:;" class="btn default btn-circle"> İptal </a>
                                            </div>
                                            <!--/row-üsttekinin içine yaz-->
                                        </div>
                                    </form>
                                </div>
                                <!-- SON KISISEL BILGILER INFO TAB -->
                                <!-- BAŞ DIGER BILGILER INFO TAB -->
                                <div class="tab-pane" id="tab_4">
                                    <form action="#" class="horizontal-form">
                                        <div class="form-body">


                                            <!--Adres Bilgileri-->
                                            <h3 class="form-section">Adres Bilgileri</h3>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label">Adres Bilgileri</label>
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </div>
                                                <!--/span-->
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label">Adres (devam)</label>
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </div>
                                                <!--/span-->
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label">Ev Telefonu</label>
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </div>
                                                <!--/span-->
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label">Ülke</label>
                                                        <select class="form-control">
                                                            <option value="">Türkiye</option>
                                                            <option value="">ABD</option>
                                                            <option value="">Almanya</option>
                                                            <option value="">İngiltere</option>
                                                            <option value="">İtalya</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label">Şehir</label>
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </div>
                                                <!--/span-->
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label">Posta Kodu</label>
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </div>
                                                <!--/span-->
                                            </div>
                                            <!--/row-üstüne yaz-->
                                            <!--Banka Bilgileri-->
                                            <h3 class="form-section">Banka Bilgileri</h3>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Banka Adı</label>
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </div>
                                                <!--/span-->
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label">Hesap Tipi</label>
                                                        <select class="form-control">
                                                            <option value="">Vadesiz</option>
                                                            <option value="">Vadeli</option>
                                                            <option value="">Çek</option>
                                                            <option value="">Diğer</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Hesap No</label>
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </div>
                                                <!--/span-->
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>IBAN</label>
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </div>
                                                <!--/span-->
                                            </div>


                                            <!--Acil Durum Bilgileri-->
                                            <h3 class="form-section">Acil Durum Bilgileri</h3>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Acil Durumda Aranacak Kişi</label>
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </div>
                                                <!--/span-->
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Acil Durumda Aranacak Kişi Yakınlık Derecesi</label>
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </div>
                                                <!--/span-->
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Acil Durumda Aranacak Kişi Telefon</label>
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </div>
                                                <!--/span-->
                                            </div>


                                            <!--Bağlantılar ve Sosyal Medya Hesapları-->
                                            <h3 class="form-section">Bağlantılar ve Sosyal Medya Hesapları</h3>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Bağlantı Adı</label>
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </div>
                                                <!--/span-->
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Bağlantı Adresi</label>
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="margiv-top-10">
                                            <a href="javascript:;" class="btn green btn-circle"> Kaydet </a>
                                            <a href="javascript:;" class="btn default btn-circle"> İptal </a>
                                        </div>
                                    </form>
                                </div>
                                <!-- SON DIGER BILGILER INFO TAB -->
                                <!-- BAŞ IZINLER INFO TAB -->
                                <div class="tab-pane" id="tab_5">
                                    <div action="#" class="horizontal-form">
                                        <div class="portlet light ">
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <span class="caption-subject font-blue-madison bold ">
                                                        İzinler
                                                    </span>
                                                </div>
                                                <div class="actions">
                                                    <div class="btn-group btn-group-devided" data-toggle="buttons">
                                                        <div class="col-md-6">
                                                            <div class="btn-group">
                                                                <button class="btn btn-circle sbold green">
                                                                    Yeni İzin Ekle
                                                                    <i class="fa fa-plus"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="btn-group pull-right">
                                                                <button class="btn green btn-circle btn-outline dropdown-toggle" data-toggle="dropdown">
                                                                    İşlemler
                                                                    <i class="fa fa-angle-down"></i>
                                                                </button>
                                                                <ul class="dropdown-menu pull-right">
                                                                    <li>
                                                                        <a href="javascript:;">
                                                                            <i class="fa fa-bolt"></i> Ekstra İzin Günü Ekle
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="javascript:;">
                                                                            <i class="fa fa-paper-plane-o"></i> Yıllık İzin Mütabakat Formu İndir
                                                                        </a>
                                                                    </li>

                                                                </ul>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="portlet-body">
                                                <div class="table-scrollable">
                                                    <table class="table table-hover table-light">
                                                        <thead>
                                                            <tr>
                                                                <th> # </th>
                                                                <th> Başlangıç </th>
                                                                <th> Bitiş </th>
                                                                <th> Süre </th>
                                                                <th> İzin Türü </th>
                                                                <th> Oluşturma Tarihi </th>
                                                                <th> Açıklama </th>
                                                                <th> Durum </th>
                                                                <th> Etiketler </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    1
                                                                </td>
                                                                <td>
                                                                    02/03/2020
                                                                </td>
                                                                <td>
                                                                    03/03/2020
                                                                </td>
                                                                <td>
                                                                    2 Gün
                                                                </td>
                                                                <td>
                                                                    Mazeret İzni
                                                                </td>
                                                                <td>
                                                                    28/02/2020
                                                                </td>
                                                                <td>
                                                                    Mazeret İzni Talep Edilmiştir
                                                                </td>
                                                                <td>
                                                                    <span class="label label-sm label-warning"> Yeni </span>
                                                                </td>
                                                                <td>
                                                                    <span class="label label-sm label-success"> Approved </span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td> 2 </td>
                                                                <td>
                                                                    09/03/2020
                                                                </td>
                                                                <td>
                                                                    11/03/2020
                                                                </td>
                                                                <td>
                                                                    3 Gün
                                                                </td>
                                                                <td>
                                                                    Yıllık İzin
                                                                </td>
                                                                <td class="center"> 28/02/2020 </td>
                                                                <td>
                                                                    Yıllık İzin Talep Edilmiştir
                                                                </td>
                                                                <td>
                                                                    <span class="label label-sm label-info"> İşlenmiş </span>
                                                                </td>
                                                                <td>
                                                                    <span class="label label-sm label-info"> Pending </span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td> 3 </td>
                                                                <td>
                                                                    16/03/2020
                                                                </td>
                                                                <td>
                                                                    20/03/2020
                                                                </td>
                                                                <td>
                                                                    5 Gün
                                                                </td>
                                                                <td>
                                                                    Ücretsiz İzin
                                                                </td>
                                                                <td class="center"> 28/02/2020 </td>
                                                                <td>
                                                                    Ücretsiz İzin Talep Edilmiştir
                                                                </td>
                                                                <td>
                                                                    <span class="label label-sm label-success"> Tamamlanmış </span>
                                                                </td>
                                                                <td>
                                                                    <span class="label label-sm label-warning"> Suspended </span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td> 4 </td>
                                                                <td>
                                                                    23/03/2020
                                                                </td>
                                                                <td>
                                                                    26/03/2020
                                                                </td>
                                                                <td>
                                                                    4 Gün
                                                                </td>
                                                                <td>
                                                                    Yol İzni
                                                                </td>
                                                                <td class="center"> 28/02/2020 </td>
                                                                <td>
                                                                    Yol İzni Talep Edilmiştir
                                                                </td>
                                                                <td>
                                                                    <span class="label label-sm label-default"> Beklemede </span>
                                                                </td>
                                                                <td>
                                                                    <span class="label label-sm label-danger"> Blocked </span>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- SON IZINLER INFO TAB -->
                                <!-- BAŞ ODEMELER INFO TAB -->
                                <div class="tab-pane" id="tab_6">
                                    <div action="#" class="horizontal-form">

                                        <div class="portlet light ">
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <span class="caption-subject font-blue-madison bold ">
                                                        Ödemeler
                                                    </span>
                                                </div>
                                                <div class="actions">
                                                    <div class="btn-group btn-group-devided" data-toggle="buttons">
                                                        <div class="col-md-12">
                                                            <div class="btn-group pull-right">
                                                                <button class="btn green btn-circle btn-outline dropdown-toggle" data-toggle="dropdown">
                                                                    Ödeme Ekle
                                                                    <i class="fa fa-angle-down"></i>
                                                                </button>
                                                                <ul class="dropdown-menu pull-right">
                                                                    <li>
                                                                        <a href="javascript:;">
                                                                            <i class="fa fa-try"></i> Avans
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="javascript:;">
                                                                            <i class="fa fa-try"></i> Harcama
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="javascript:;">
                                                                            <i class="fa fa-try"></i> Prim
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="javascript:;">
                                                                            <i class="fa fa-try"></i> Fazla Mesai
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="javascript:;">
                                                                            <i class="fa fa-try"></i> Askerlik Yardımı
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="javascript:;">
                                                                            <i class="fa fa-try"></i> Bayram Yardımı
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="javascript:;">
                                                                            <i class="fa fa-try"></i> Yakaca Yardımı
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="portlet-body">
                                                <div class="table-scrollable">
                                                    <table class="table table-hover table-light">
                                                        <thead>
                                                            <tr>
                                                                <th> # </th>
                                                                <th> Tarih </th>
                                                                <th> İşlem </th>
                                                                <th> Tutar </th>
                                                                <th> Açıklama </th>
                                                                <th> Durum </th>
                                                                <th> Oluşturulma Tarihi </th>
                                                                <th> Ödendi </th>
                                                                <th> Etiketler </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td> 1 </td>
                                                                <td>
                                                                    20/01/2020
                                                                </td>
                                                                <td>
                                                                    Prim
                                                                </td>
                                                                <td>
                                                                    200.00 <i class="fa fa-try"> </i>
                                                                </td>
                                                                <td></td>
                                                                <td>
                                                                    <i class="fa fa-check" style="color:lightseagreen"></i>
                                                                    Onay Alındı
                                                                </td>
                                                                <td>
                                                                    18/01/2020
                                                                </td>
                                                                <td>
                                                                    <i class="fa fa-diamond" style="color:lightseagreen"></i>
                                                                </td>
                                                                <td>
                                                                    <span class="label label-sm label-success"> Approved </span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td> 2 </td>
                                                                <td>
                                                                    20/02/2020
                                                                </td>
                                                                <td>
                                                                    Prim
                                                                </td>
                                                                <td>
                                                                    250.00 <i class="fa fa-try"> </i>
                                                                </td>
                                                                <td></td>
                                                                <td>
                                                                    <i class="fa fa-spinner" style="color:dodgerblue"></i>
                                                                    Onay Bekleniyor
                                                                </td>
                                                                <td>
                                                                    18/02/2020
                                                                </td>
                                                                <td>
                                                                    <i class="fa fa-spotify" style="color:green"></i>
                                                                </td>
                                                                <td>
                                                                    <span class="label label-sm label-info"> Pending </span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td> 3 </td>
                                                                <td>
                                                                    20/02/2020
                                                                </td>
                                                                <td>
                                                                    Prim
                                                                </td>
                                                                <td>
                                                                    250.00 <i class="fa fa-try"> </i>
                                                                </td>
                                                                <td></td>
                                                                <td>
                                                                    <i class="fa fa-spinner" style="color:dodgerblue"></i>
                                                                    Onay Bekleniyor
                                                                </td>
                                                                <td>
                                                                    18/02/2020
                                                                </td>
                                                                <td>
                                                                    <i class="fa fa-spotify" style="color:green"></i>
                                                                </td>
                                                                <td>
                                                                    <span class="label label-sm label-warning"> Suspended </span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td> 4 </td>
                                                                <td>
                                                                    20/02/2020
                                                                </td>
                                                                <td>
                                                                    Prim
                                                                </td>
                                                                <td>
                                                                    250.00 <i class="fa fa-try"> </i>
                                                                </td>
                                                                <td></td>
                                                                <td>
                                                                    <i class="fa fa-spinner" style="color:dodgerblue"></i>
                                                                    Onay Bekleniyor
                                                                </td>
                                                                <td>
                                                                    18/02/2020
                                                                </td>
                                                                <td>
                                                                    <i class="fa fa-spotify" style="color:green"></i>
                                                                </td>
                                                                <td>
                                                                    <span class="label label-sm label-danger"> Blocked </span>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- SON ODEMELER INFO TAB -->
                                <!-- BAŞ ZIMMETLER INFO TAB -->
                                <div class="tab-pane" id="tab_1_1">
                                    <div action="#" class="horizontal-form">
                                        <div class="portlet light ">
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <span class="caption-subject font-blue-madison bold ">Zimmetler</span>
                                                </div>
                                                <div class="actions">
                                                    <div class="btn-group btn-group-devided" data-toggle="buttons">
                                                        <label class="btn sbold green btn-outline btn-circle btn-sm active">
                                                            <input type="radio" name="options" class="toggle" id="option2">Zimmet Ekle
                                                        </label>
                                                        <label class="btn sbold green btn-outline btn-circle btn-sm">
                                                            <input type="radio" name="options" class="toggle" id="option2">Zimmet Fişi Yazdır
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="portlet-body">
                                                <div class="table-scrollable">
                                                    <table class="table table-hover table-light">
                                                        <thead>
                                                            <tr>
                                                                <th> # </th>
                                                                <th> Kategori </th>
                                                                <th> Seri Numarası </th>
                                                                <th> Veriliş Tarihi </th>
                                                                <th> İade Tarihi </th>
                                                                <th> Açıklama </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td> 1 </td>
                                                                <td> Cep Telefonu </td>
                                                                <td> 111111 </td>
                                                                <td> 01/03/2020 </td>
                                                                <td> 01/05/2020 </td>
                                                            </tr>
                                                            <tr>
                                                                <td> 2 </td>
                                                                <td> Bilgisayar </td>
                                                                <td> 222222 </td>
                                                                <td> 01/03/2020 </td>
                                                                <td> 01/05/2020  </td>
                                                            </tr>
                                                            <tr>
                                                                <td> 3 </td>
                                                                <td> Araç </td>
                                                                <td> 333333 </td>
                                                                <td> 01/03/2020 </td>
                                                                <td> 01/05/2020 </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- SON ZIMMETLER INFO TAB -->
                                <!-- BAŞ EGITIMLER INFO TAB -->
                                <div class="tab-pane" id="tab_1_2">
                                    <div action="#" class="horizontal-form">
                                        <div class="portlet light ">
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <span class="caption-subject font-blue-madison bold ">Eğitimler</span>
                                                </div>
                                                <div class="actions">
                                                    <div class="btn-group btn-group-devided" data-toggle="buttons">
                                                        <label class="btn sbold green btn-outline btn-circle btn-sm active">
                                                            <input type="radio" name="options" class="toggle" id="option2">Eğitim Ekle
                                                        </label>
                                                        <label class="btn sbold green btn-outline btn-circle btn-sm">
                                                            <input type="radio" name="options" class="toggle" id="option2">Sistem Geneli Eğitim Oluştur
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="portlet-body">
                                                <div class="table-scrollable">
                                                    <table class="table table-hover table-light">
                                                        <thead>
                                                            <tr>
                                                                <th> # </th>
                                                                <th> Eğitim </th>
                                                                <th> Durumu </th>
                                                                <th> Tamamlanma Tarihi </th>
                                                                <th> Değerlendirme </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td> 1 </td>
                                                                <td> MVC Eğitimi </td>
                                                                <td> Tamamlandı </td>
                                                                <td> 01/03/2020 </td>
                                                                <td>
                                                                    5
                                                                    <i class="fa fa-star-o"></i>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td> 2 </td>
                                                                <td> Bilgisayar Eğitimi </td>
                                                                <td> Tamamlandı </td>
                                                                <td> 15/02/2020 </td>
                                                                <td>
                                                                    5
                                                                    <i class="fa fa-star-o"></i>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td> 3 </td>
                                                                <td> OOP </td>
                                                                <td> Tamamlandı </td>
                                                                <td> 10/01/2020 </td>
                                                                <td>
                                                                    5
                                                                    <i class="fa fa-star-o"></i>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- SON EGITIMLER INFO TAB -->
                                <!-- BAŞ DOSYALAR INFO TAB -->
                                <div class="tab-pane" id="tab_1_3">
                                    <div action="#" class="horizontal-form">
                                        <div class="portlet light ">
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <span class="caption-subject font-blue-madison bold ">Dosyalar</span>
                                                </div>
                                                <div class="actions">
                                                    <div class="btn-group btn-group-devided" data-toggle="buttons">
                                                        <label class="btn sbold green btn-outline btn-circle btn-sm active">
                                                            <input type="radio" name="options" class="toggle" id="option2">Klasör Oluştur
                                                        </label>
                                                        <label class="btn sbold green btn-outline btn-circle btn-sm">
                                                            <input type="radio" name="options" class="toggle" id="option2">Dosya Yükle
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="portlet-body">
                                                <div class="table-scrollable">
                                                    <table class="table table-hover table-light">
                                                        <thead>
                                                            <tr>
                                                                <th> Dosya Adı </th>
                                                                <th> Türü </th>
                                                                <th> Boyut </th>
                                                                <th> Düzenleme Tarihi </th>
                                                                <th>   </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td> Önemli Dosyalar </td>
                                                                <td> Klasör </td>
                                                                <td> 10 MB </td>
                                                                <td> 06/03/2020 </td>
                                                                <td> <a> <i class="fa fa-trash-o"></i> </a> </td>
                                                            </tr>
                                                            <tr>
                                                                <td> OopsHR.html </td>
                                                                <td> html </td>
                                                                <td> 2 MB </td>
                                                                <td> 06/03/2020 </td>
                                                                <td> <a> <i class="fa fa-trash-o"></i> </a> </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- SON DOSYALAR INFO TAB -->
                                <!-- BAŞ VIZE BELGESI TALEPLERI INFO TAB -->
                                <div class="tab-pane" id="tab_1_4">
                                    <div action="#" class="horizontal-form">
                                        <div class="portlet light ">
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <span class="caption-subject font-blue-madison bold ">Vize Belgesi Talepleri</span>
                                                </div>
                                                <div class="actions">
                                                    <div class="btn-group btn-group-devided" data-toggle="buttons">
                                                        <label class="btn sbold green btn-outline btn-circle btn-sm active">
                                                            <input type="radio" name="options" class="toggle" id="option2">Vize Belgesi Süreci Ekle
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="portlet-body">
                                                <div class="table-scrollable">
                                                    <table class="table table-hover table-light">
                                                        <thead>
                                                            <tr>
                                                                <th> Vize Adı </th>
                                                                <th> Açıklama </th>
                                                                <th> Seyahat Başlangıç Tarihi </th>
                                                                <th> Seyahat Bitiş Tarihi </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td> Almanya Vizesi </td>
                                                                <td> İş Seyahati </td>
                                                                <td> 16/03/2020 </td>
                                                                <td> 23/03/2020 </td>
                                                            </tr>
                                                            <tr>
                                                                <td> İngiltere Vizesi </td>
                                                                <td> Eğitim </td>
                                                                <td> 30/03/2020 </td>
                                                                <td> 06/04/2020  </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- SON VIZE BELGESI TALEPLERI INFO TAB -->
                            </div>
                        </div>
                        <!-- END PROFILE CONTENT -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section pageLeveljs{
    <script src="../assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/jquery.sparkline.min.js" type="text/javascript"></script>
}
